# Environments
venv/
.env

# Data & Models (Do not upload large datasets or private models)
data/
*.mp4
*.wav
*.mp3

# Firebase Security (If you add it later)
serviceAccountKey.json

# Python cache
__pycache__/
*.pyc
.streamlit/